body {
  background-image: url('../img/kite-surfing-bg.jpg');
  font-family: fantasy;
  height: 100%;
  width: 100%;
  margin: 0;
}
  
  /* Header styles */
  header {
    background-color: #333;
    color: rgb(84, 191, 157);
    padding: 20px;
    font-family: 'Chelsea Market', cursive;
  }
  
  h1 {
    margin: 0;
    font-size: 36px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    color: rgb(84, 191, 157);
  }
  
  /* Main styles */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: rgb(84, 191, 157);
    color: black;
  }
   
  /* Footer styles */
  footer {
    /* background-color: #333; */
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  
  